<section class="login">
  <section class="login__logo">
    <img src="./../../../../assets/fonts/rick-and-morty.png" alt="">
  </section>
  <section class="login__container">
    <h2>Registrate</h2>
    <form class="login__container--form" [formGroup]="form" (ngSubmit)="register($event)">
      
      <input placeholder="Correo" formControlName="email" type="email" class="input">
      
      <input placeholder="Contraseña" formControlName="password" type="password" class="input">
      
      <label class="error">{{error}}</label>

      <button [disabled]="form.invalid" class="button" type="submit">Registrar</button>
      
    </form>
    
    <p class="login__container--register">
      Tienes cuenta, <a (click)="goToLogin()">volver al login</a>
    </p>
  </section>
</section>