<section class="login">
  <section class="login__logo">
    <img src="./../../../../assets/fonts/rick-and-morty.png" alt="">
  </section>
  <section class="login__container">
    <h2>Inicia sesión</h2>
    <form class="login__container--form" [formGroup]="form" (ngSubmit)="login($event)">
      
      <input placeholder="Correo" formControlName="email" type="email" class="input">
      
      <input placeholder="Contraseña" formControlName="password" type="password" class="input">
      
      <button [disabled]="form.invalid" class="button" type="submit">Ingresar</button>
  
    </form>
    
    <p class="login__container--register">
      No tienes ninguna cuenta, <br/>
      <a (click)="goToRegister()">Regístrate</a>
    </p>
  </section>
</section>