.card {
  //background-color: white;
  background-color: #477385;
  background-image: url('./../../../../assets/fonts/background-card.png');
  background-repeat: no-repeat;
  background-size: auto;
  padding: 1rem;  
  cursor: pointer;
  border: 2px solid #e762d7ff;
  border-radius: 6px;
  height: 90%;

  img {
    max-width: 100%;   
    border-radius: 6px;
  }
}